{% extends 'cartoon_shoop/main.html' %}
{% load static %}
{% block content %}

<!--link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}"-->



	<div class="row">
		{% for product in products %}
		<div class="col-lg-3">
			<img class="thumbnail" src="{% static 'images/cartoon.png' %}">
			<div class="box-element product">
				<h9><strong>Produkt</strong></h9>
				<hr>
				<h9>{{product.name}}<br/>- opakowanie białe 3-warstwowe<br/></h9>
				<button class="btn btn-outline-secondary add-btn">Dodaj</button>
				<a class="btn btn-outline-success" href="#">Zobacz</a>
				<h5 style="display: inline-block;float: right;">30 zł</h5>
			</div>
		</div>
		{% endfor %}
	</div>



{% endblock content %}